{{> nav/navbar}}

<div class="image container-fluid">
	<div class="hero text-center" style="position: relative; text-align: center; color: red">
		<img style="background-image; width:100%" src="https://derpicdn.net/img/2013/9/29/437325/large.png">
		<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<h1 style="font-size: 50px">Mongo Scrapper</h1>
		<h2>KSL Article Edition</h2>
		</div>
	</div>
</div>

<div class="container-fluid" id="articles">


</div>