<ul class="nav nav-pills">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Saved Articles</a></li>
  <li role="presentation" class="danger"><a href="/scrape">Scrape New Articles</a></li>
</ul>